ASPNETCORE_ENVIRONMENT=Production
MongoDB__Database=orchestrator
MongoDB__ConnectionString=mongodb://mongodb:27017
WorkerGateway__GrpcPort=5201
ControlPlane__HttpPort=5266
ControlPlane__HttpsPort=5267
Scheduler__IntervalSeconds=10
VictoriaMetrics__Url=http://victoriametrics:8428
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
Logging__LogLevel__AgentsDashboard=Information
Retention__RunDays=90
Retention__LogDays=30
Docker__ImagePullPolicy=IfNotPresent
Docker__DefaultCpuLimit=2
Docker__DefaultMemoryLimit=4g
Docker__NetworkEnabled=false
