**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.env
**/.env.*
**/*.md
**/*.sln
**/*.slnx
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/tests
**/.github
**/deploy
**/*.user
**/*.suo
**/TestResults
**/coverage
**/.idea
